
@{
    ViewBag.Title = "Oops!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dd>
            <h2>
                Hey there! You must be lost?
            </h2>
        </dd>
        <dd>
            <h2>
                Don't be sad! :)
            </h2>
        </dd>
        <dd>
            Need to login? Click this @Html.ActionLink("link", "Signin", "User")
        </dd>
        <dd>
            Perhaps a new user or just trying to break this website?
            You can register by clicking this @Html.ActionLink("link", "AddUser", "User")
        </dd>
    </dl>            
</div>




