
@{
    ViewBag.Title = "Oops!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dd>
            <h2>
                Hey there! You must be lost?
            </h2>
        </dd>
        <dd>
            <h2>
                Don't be sad! :)
            </h2>
        </dd>
        <dd>
            Maybe you need to login?
            You can login by click this @Html.ActionLink("link", "Signin", "User")
        </dd>
        <dd>
            If you are already logged in, you can navigate back to your profile.            
        </dd>
        <dd>
            Maybe you're a new user? 
            You can register by clicking this @Html.ActionLink("link", "AddUser", "User")
        </dd>
    </dl>            
</div>




