
<div class="jumbotron">
    <h1>Online Checkbook</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Online Checkbook</h2>
        <p>
            Online Checkbook is a mobile and desktop friendly online checkbook application to help
            keep your finances straight.
        </p>
    </div>
    <div class="col-md-4">
        <h2>New User?</h2>
        <p>
            If you are new to Online Checkbook, you can sign up for free!
            All you need to do is:
            <ul>
                <li>Create a profile</li>
                <li>Add a bank</li>
                <li>Add expenses</li>
            </ul>
            And that's it! It's all tracked here on the website!
        </p>
    </div>
</div>

